.banner {
    background-color: darkgreen;
    color: white;
    text-align: center;
}

.mainInfo {
    background-color: lightgrey;
    padding: 1em; /* em means: "my parent element's font-size" */
}

body {
    background-image: url('record.png');
    background-repeat: repeat;
    margin: 0;
}